[submodule "Web3RealtorFL"]
    path = Web3RealtorFL
    url = https://github.com/Baloo8721/Web3RealtorFL
[submodule "Web3RealtorFL"]
    path = Web3RealtorFL
    url = https://github.com/Baloo8721/Web3RealtorFL